.img-thumbnail{
  max-height: 120px;
}

.glyphicon-floppy-remove{
  color: red;
}

.glyphicon-floppy-remove{
  cursor: pointer;
}

ul{
  list-style: none;
}

.beer-item{
  /*height: 200px;
  text-align: left;*/
  border: 1px solid grey;
  padding: 10px;
  margin: 5px;
  
}
.beer-item h2{
  text-align: center;
}

.navbar{
  border-radius: 0;
}

.bold{
  font-weight: bold;
}